{% extends "::base.html.twig" %}

{% block body %}
    <h1>Leases</h1>
    <table cellpadding="5" border="1">
        <thead>
            <tr>
                <th>#</th>
                <th>IP</th>
                <th>Hostname</th>
                <th>MAC</th>
                <th>Expires</th>
            </tr>
        </thead>
        <tbody>
            {% for lease in leases %}
                <tr>
                    <td style="text-align: right">{{ loop.index }}</td>
                    <td>{{ lease.ip.address }}</td>
                    <td>{{ lease.clientHostname|replace({'"': null}) }}</td>
                    <td>{{ lease.hardware.address }}</td>
                    <td>{{ lease.ends|date('Y-m-d H:i:s') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>Hosts</h1>

    <table cellpadding="5" border="1">
        <thead>
        <tr>
            <th>#</th>
            <th>Fixed Address</th>
            <th>Hostname</th>
            <th>MAC</th>
        </tr>
        </thead>
        <tbody>
        {% for host in hosts %}
            <tr>
                <td style="text-align: right">{{ loop.index }}</td>
                <td>{{ host.fixedAddress|join(',') }}</td>
                <td>{{ host.ddnsHostname }}</td>
                <td>{{ host.hardware.address }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
